.bg-grey{
    background-color: #f1f1f1;
}

/*Main District*/
.main{
    background-image: url("../pic/header.jpg");
    height: 500px;
    -webkit-filter: grayscale(20%);
    filter:grayscale(20%);
}
.main-words{
    background-color: grey;
    margin: 90px 0;
    color: white;
}

h1.title-words{
    font-size: 80px;
    font-family: Arial;
    font-weight: 600;
}

hr.star-primary{
    padding:0;
    border-top:solid 5px;
    text-align:center;
    max-width:250px;
    /*margin:35px auto 30px;*/
    margin-bottom: -8px;
    border-color:black;
}
hr.star-primary:after{
    content:"\f005";
    font-family:FontAwesome;
    display:inline-block;
    position:relative;
    top:-.8em;
    font-size:2em;
    padding: 0.25em;
    background-color:#fff;
    color:black;
}

/*Interests*/
#interests{
    padding-top:6em;
    padding-bottom: 10em;
}
#interests figcaption a{
    border:1px solid #fff;
    margin-top: 1em;
    display: inline-block;
    color: #fff;
    padding: 0 2em;
}
#interests figcaption a:hover{
    text-decoration: none;
    padding: 0 3em;
}

/*Introduction*/


/*Smooth show*/
.slideanim {
    visibility:hidden;
}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

/**/
.parallax {
    /* The image used */
    background-image: url("../pic/portfolio/9.jpg");

    /* Set a specific height */
    min-height: 200px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/**/
section h2.section-heading{
    font-size:40px;
    margin-top:0;
    margin-bottom:15px
}
section h3.section-subheading{
    font-size:16px;
    text-transform:none;
    font-weight:400;
    margin-bottom:75px
}
@media (min-width:768px){
    section{
        padding:150px 0
    }
}

.timeline {
    list-style: none;
    padding: 0;
    position: relative;
}
.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: "";
    width: 2px;
    background-color: #f1f1f1;
    left: 40px;
    margin-left: -1.5px;
}
.timeline > li {
    margin-bottom: 50px;
    position: relative;
    min-height: 50px;
}
.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li .timeline-panel {
    width: 100%;
    float: right;
    padding: 0 20px 0 100px;
    position: relative;
    text-align: left;
}
.timeline > li .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}
.timeline > li .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.timeline > li .timeline-image {
    left: 0;
    margin-left: 0;
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 100;
    background-color: white;
    color: black;
    border-radius: 100%;
    border: 7px solid #cccccc;
    text-align: center;
}
.timeline > li .timeline-image h4 {
    font-size: 10px;
    margin-top: 12px;
    line-height: 14px;
}
.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    text-align: left;
    padding: 0 20px 0 100px;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.timeline > li:last-child {
    margin-bottom: 0;
}
.timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit;
}
.timeline .timeline-heading h4.subheading {
    text-transform: none;
}
.timeline .timeline-body > p,
.timeline .timeline-body > ul {
    margin-bottom: 0;
}
@media (min-width: 768px) {
    .timeline:before {
        left: 50%;
    }
    .timeline > li {
        margin-bottom: 100px;
        min-height: 100px;
    }
    .timeline > li .timeline-panel {
        width: 41%;
        float: left;
        padding: 0 20px 20px 30px;
        text-align: right;
    }
    .timeline > li .timeline-image {
        width: 100px;
        height: 100px;
        left: 50%;
        margin-left: -50px;
    }
    .timeline > li .timeline-image h4 {
        font-size: 13px;
        margin-top: 16px;
        line-height: 18px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
        float: right;
        text-align: left;
        padding: 0 30px 20px 20px;
    }
}
@media (min-width: 992px) {
    .timeline > li {
        min-height: 150px;
    }
    .timeline > li .timeline-panel {
        padding: 0 20px 20px;
    }
    .timeline > li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px;
    }
    .timeline > li .timeline-image h4 {
        font-size: 18px;
        margin-top: 30px;
        line-height: 26px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
        padding: 0 20px 20px;
    }
}
@media (min-width: 1200px) {
    .timeline > li {
        min-height: 170px;
    }
    .timeline > li .timeline-panel {
        padding: 0 20px 20px 100px;
    }
    .timeline > li .timeline-image {
        width: 170px;
        height: 170px;
        margin-left: -85px;
    }
    .timeline > li .timeline-image h4 {
        margin-top: 40px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
        padding: 0 100px 20px 20px;
    }
}

/*footer*/
.footer
{
    overflow:hidden;
    perspective:500px;
    transform-style:preserve-3d;
}

.footer_block
{
    padding:5% 1.5em;
    transform-origin:center bottom;
    background:#606060;
    color:#b0b0b0;
}

.footer a {
    color:#b0b0b0;
}
.footer a:hover {
    color:white;
}